.linkpic {
    height: 40px;
    width: 40px;
}

h1 {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style-position: inside;
    list-style-type: disc;
}

* {
    background-color: lavender;
}

.linkbar {
    display: inline;
    position:relative;
    bottom:10px;
}

.projectsbar {
    display: inline;
}

.main {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}