.linkpic {
    height: 30px;
    width: 30px;
    text-decoration: none;
}

h1 {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ul {
    list-style-position: inside;
    list-style-type: disc;
} */

* {
    background-color: lavender;
}

.linkbar {
    text-align: center;
}
.linkitem {
    display: inline;
    padding: 10px;
}

ul {
    list-style: none;
    justify-content: center;
    text-align: center;
}
li {
    padding:5px;
}

.mystuff {
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */
    display: inline-flex;
    width: 100vw;
    justify-content: center;
}

.contentbox {
    width:fit-content;
    /* justify-content: center; */
    display: inline;
    margin-right: auto;
    width: 250px;
}

p {
    justify-content: center;
    text-align: center;
}

.projectbox {
    width:fit-content;
    margin-left: auto;
    /* justify-content: center; */
    display: inline;
    width: 250px;
}
h3 {
    justify-content: center;
    text-align: center;
}

.main {
    /* position: relative;
    margin-left: auto;
    margin-right: auto; */
    /* display: flex;
    justify-content: center; */
    text-align: center;
}