.linkpic {
    height: 30px;
    width: 30px;
    text-decoration: none;
}

h1 {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style-position: inside;
    list-style-type: disc;
}

* {
    background-color: lavender;
}

.linkbar {
    text-align: center;
}
.linkitem {
    display: inline;
    padding: 10px;
}

.projectsbar {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}

.main {
    /* position: relative;
    margin-left: auto;
    margin-right: auto; */
    /* display: flex;
    justify-content: center; */
    text-align: center;
}